<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/users/passwordChange" method="post">
      <input type="password" name="oldpassword" placeholder="oldpassword" />
      <input type="password" name="newpassword" placeholder="newpassword" />
      <button>Sign In</button>
    </form>
  </body>
</html>
