<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Update User</h1>
    <form action="/users/updateuser" method="post">
      <input
        type="text"
        name="username"
        placeholder="Username"
        value="<%= user.username %>"
      />
      <input
        type="email"
        name="email"
        placeholder="Email"
        value="<%= user.email %>"
      />
      <button>Update details</button>
    </form>
  </body>
</html>
